*.aps
*.asm
*.bak
*.clw
*.ilk
*.obj
*.pdb
*.sbr
*.pch
*.hm
*.htm
/Clienti/data1.dbc
/Clienti/clienti.dbf
/Clienti/data1.DCT
/Clienti/data1.DCX
/CompressioneCarote.dll
/CompressioneCubi.dll
/CompressioneCubiDM2008.dll
/ResilienzaProfilati.dll
/ResilienzaProfilati/Release/ResilienzaProfilati.dll
/TrazionePiegamentoBarre.dll
/TrazionePiegamentoBarreB450_2010.dll
/TrazionePiegamentoBarreCT.dll
/TrazioneProfilati.dll
/TrazioneProfilati/Release/TrazioneProfilati.dll
/TrazioneProfilati2011.dll
/TrazioneReti.dll
/TrazioneReti2011.dll
/TrazioneTrefoli.dll
/TrazioneTrefoli/Release/TrazioneTrefoli.dll
/html/MakeIDH/MakeIDH.exe
/Debug/WinSigma.exe
/Release/WinSigma.exe
/WinSigma___Win32_W2Debug/WinSigma2.exe
/WinSigma___Win32_LIDebug/WinSigmaLI.exe
*.html
*.hm3
*.idb
/SAVEWinSigma.ini
/Debug/WinSigma.ini
/WinSigma2.ini
/WinSigma___Win32_W2Debug/WinSigma2.ini
/WinSigma___Win32_W2Release/WinSigma2.ini
/html/WinSigma.chm
/CompressioneCarote.lib
/CompressioneCubi.lib
/CompressioneCubiDM2008.lib
/html/lib/htmlhelp.lib
/ResilienzaProfilati.lib
/ResilienzaProfilati/Release/ResilienzaProfilati.lib
/TrazionePiegamentoBarre.lib
/TrazionePiegamentoBarreB450_2010.lib
/TrazionePiegamentoBarreCT.lib
/TrazioneProfilati.lib
/TrazioneProfilati/Release/TrazioneProfilati.lib
/TrazioneProfilati2011.lib
/TrazioneReti.lib
/TrazioneReti2011.lib
/TrazioneTrefoli.lib
/TrazioneTrefoli/Release/TrazioneTrefoli.lib
*.ncb
*.opt
*.plg
*.exp
*.def
html/**
